# Print statements

In [ ]:
# this is a comment
print("Hello") #this is also a comment

Hello

In [1]:
""" 
This is a multi line comment
"""
print("hello") #this is also a comment

hello

In [2]:
# the following are all integers
print(2)
print(10)

2
10

In [3]:
# the following are all floats
print(10.953)
print(8.0) #even this number is a float

10.953
8.0

In [4]:
# the following are bolleans
print(True)
print(False)

True
False

In [5]:
# the following are strings
print(" ")
print("There's a snake in my boot!")
print(True)

There's a snake in my boot!
True

In [6]:
print("Jennifer")

Jennifer

# Variables

In [7]:
Sport = 'baseball' #capital 'S'
print(sport) #lowercase 's'

NameError: name 'sport' is not defined

In [ ]:
print(Sport)

baseball

In [ ]:
num1 = 5        # storing an integer into a variable
num2 = 8.4      # storing a float into a variable
print(num1, num2)       # you can print multiple items using commas

5 8.4

In [ ]:
# storing a bollean into a variable
switch = True
print(switch)

True

In [ ]:
# storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number)     # will print 9 next to the name

John Smith 9

In [ ]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [ ]:
# adding, deleting, multiplying, dividing from a variable
result += 1 # same as saying result = result + 1
print(result)
result *= num1 # same as saying result = result * num1
print(result)

14.4
72.0

In [ ]:
# defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [ ]:
x = 3
y = 10
result = x * y
print(result)

30

In [ ]:
h = 245.54
w = 13.66
area = h * w 
print(area)

3354.0764

# Working with strings

In [ ]:
# using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [ ]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [ ]:
# injecting variables using the format method
name = "John"
print( "Hello {}".format(name) )
print( "Hello {}, you are {} years old!".format(name, 28) )

Hello John
Hello John, you are 28 years old!

In [ ]:
# using the new f strings
name = "John"
print( f"Hello {name}" )

Hello John

In [ ]:
# one major difference between versions 2 & 3
name = 'John'
print('Hello, %s' % name)

Hello, John

In [ ]:
# python 2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print( "Hello, %s %s" % (first_name, last_name) )
# surround the variables in parenthesis

Hello, John Smith

In [ ]:
# using indexes to print each element
word = "Hello"
print( word[ 0 ] ) # will output 'H'
print( word[ 1 ] ) # will output 'e'
print( word[ -1 ] ) # will output 'o'

H
e
o

In [ ]:
print( word[ 0 : 2 ] ) # will output 'He'

He

In [ ]:
print( word[ 0 : 5 : 2 ] ) # will output 'Hlo'
# variable_name[ start : stop : step ]      will skip letters by 2

Hlo

In [ ]:
integer_value = 23
float_value = 4.5
boolean_value = False
string_value = "John"

print("{} {} {} {}".format(integer_value, float_value, boolean_value, string_value))

23 4.5 False John

In [ ]:
name = "Jen"
sport = "sleeping"
activity = "Python"

print("{}'s favorite sport is {}.".format(name, sport))
print("{} is working on {} programming!".format(name, activity))

Jen's favorite sport is sleeping.
Jen is working on Python programming!

# Manipulating strings

In [ ]:
# using the title method to capitalize a string
name = "john smith"
print( name.title( ) )

John Smith

In [ ]:
name.lower( )

'john smith'

In [ ]:
name.upper( )

'JOHN SMITH'

In [ ]:
# replacing an exclamation point with a period
words = "Hello there!"
print( words.replace( "!", "." ) )

Hello there.

In [ ]:
# finding the starting index of our searched term
s = "Look over that way"
print( s.find("over") )

5

In [ ]:
# removing white space with strip
name = " john "
print( name.strip( ) )

john

In [ ]:
# converting a string into a list of words
s = "These words are separated by spaces"
print( s.split(" ") )

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [ ]:
word = "uppercase"
word.upper( )

'UPPERCASE'

In [ ]:
string = "$$John Smith"

# Using lstrip() to remove the dollar signs from the left
left_stripped = string.lstrip("$")

print(left_stripped)

John Smith

# Friday Project: Printing Receipts

In [9]:
# create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

In [10]:
# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

In [11]:
# declare ending message
message = "Thanks for shopping with us today!"

In [12]:
# create a top border
print( "*" * 50 )

# print company information first, using format
print("\t\t{}".format( company_name.title( ) ))
print("\t\t{}".format(company_address) )
print("\t\t{}".format(company_city) )

# print a line between sections
print( "=" * 50 )

# print out header for section of items
print("\tProduct Name\tProduct Price")

# create a print statement for each product
print("\t{:<20} ${:>10.2f}".format(p1_name.title(), p1_price))
print("\t{:<20} ${:>10.2f}".format(p2_name.title(), p2_price))
print("\t{:<20} ${:>10.2f}".format(p3_name.title(), p3_price))
        #{:<20} left aligns the product names
        #{:>10.2f} right aligns the prices so the decimal places line up
        
# print a line between sections
print('=' * 50)

# print out header for section of total
print("\t\t\tTotal")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( "\t\t\t${}".format(total) )

# print a line between sections
print( "=" * 50)

# output thank you message
print( "\n\t{}\n".format(message) )

# create a bottom border
print( "*" * 50 )

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
==================================================
	Product Name	Product Price
	Books                $     49.95
	Computer             $    579.99
	Monitor              $    124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************

# Star side borders

In [88]:
def print_pretty_string(input_string, border_char = '*', line_length = 50):
    exp_tabs = input_string.expandtabs()
    padding = line_length - len(exp_tabs) - 1
    if len(exp_tabs) == 0:
        padding -= 2
    output_string = f"{border_char} {input_string} {border_char:>{padding}}"
    print(output_string, flush=True)

In [91]:
ast_char = '*'
line_len = 50

# create a top border
print( "*" * 50 )

# print company information first, using format
# print("*" + "\t\t{}".format( company_name.title( ) ))
# print("*" + "\t\t{}".format(company_address) )
# print("*" + "\t\t{}".format(company_city) )

print_pretty_string(f"\t\t{company_name.title()}")
print_pretty_string(f"\t\t{company_address}")
print_pretty_string(f"\t\t{company_city}")

# print a line between sections
print( "=" * 50 )

# print out header for section of items
# line_content = "      Product Name    Product Price "
# r_all = 49 - len(line_content) - 1
# print("* \tProduct Name\tProduct Price"  + f"{ast_char:>{r_all}}")
print_pretty_string("\tProduct Name\tProduct Price", '*', line_len)

# create a print statement for each product
print("*" + "\t{:<20} ${:>10.2f}".format(p1_name.title(), p1_price) + f"{ast_char:>10}")
print("*" + "\t{:<20} ${:>10.2f}".format(p2_name.title(), p2_price) + f"{ast_char:>10}")
print("*" + "\t{:<20} ${:>10.2f}".format(p3_name.title(), p3_price) + f"{ast_char:>10}")
# print(f"\t{p3_name.title():<20} ${p3_price:>10.2f}")
        #{:<20} left aligns the product names
        #{:>10.2f} right aligns the prices so the decimal places line up
        
# print a line between sections
print('=' * 50)

# print out header for section of total
# print("*" + "\t\t\tTotal")
print_pretty_string("\t\t\tTotal")

# calculate total price and print out
total = p1_price + p2_price + p3_price
# print("*" + "\t\t\t${}".format(total) )
print_pretty_string(f"\t\t\t${total}")

# print a line between sections
print( "=" * 50)

# output thank you message
# print("*" + "\n" + "*" + "\t{}\n".format(message) + "*")
print_pretty_string("")
print_pretty_string("\t{}".format(message))
print_pretty_string("")

# create a bottom border
print( "*" * 50 )

**************************************************
* 		Coding Temple, Inc.              *
* 		283 Franklin St.                 *
* 		Boston, MA                       *
==================================================
* 	Product Name	Product Price            *
*	Books                $     49.95         *
*	Computer             $    579.99         *
*	Monitor              $    124.89         *
==================================================
* 			Total                    *
* 			$754.83                  *
==================================================
*                                                *
* 	Thanks for shopping with us today!       *
*                                                *
**************************************************